---
title: Blog
layout: default
---

<section class="section">
  <h1>Latest Posts</h1>

  <ul>
    {% for post in site.posts %}
    <li>
      <h2>
        <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
      </h2>
      <span class="post-excerpt">{{ post.excerpt }}</span>
    </li>
    {% endfor %}
  </ul>

  <form action="#" method="get">
    <label for="search">Filter: </label>
    <input type="text" name="filter" id="filter" />
  </form>
  <h3>Tags</h3>

  {% for tag in site.tags %}
  <h3 class="tag-header">{{ tag[0] }}</h3>
  <ul class="tag-list">
    {% for post in tag[1] %}
    <li>
      <a href="{{ post.url }}" class="post-title smaller">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>

  {% endfor %}
</section>
